:root {
  --border-color: #ddd;
  --border-radius: 8px;
  --button-padding: 10px 20px;
  --primary-color: #3498db; /* Alterando a cor primária para verde */
  --secondary-color: #f5625d; /* Alterando a cor secundária para azul */
}

/* Estilos básicos */
.address-list {
  background-color: #fff; /* Suavizando a cor de fundo */
  border-radius: var(--border-radius);
  padding: 30px; /* Aumentando o espaço interno */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ajustando a sombra */
  max-width: 900px; /* Aumentando a largura máxima */
  margin: auto;
}

.search-bar {
  width: 100%;
  padding: 14px;
  margin-bottom: 30px; /* Aumentando o espaço abaixo */
  border: 1px solid var(--border-color);
  border-radius: 6px; /* Suavizando as bordas */
  font-size: 1.1em; /* Aumentando o tamanho da fonte */
  box-sizing: border-box;
}

.address-card::before {
  content: "";
  position: absolute;
  top: 10px; /* Ajuste a posição vertical conforme necessário */
  right: 10px; /* Ajuste a posição horizontal conforme necessário */
  width: 12px; /* Ajuste o tamanho da bolinha conforme necessário */
  height: 12px; /* Ajuste o tamanho da bolinha conforme necessário */
  border: 2px solid #3498db; /* Adicionando contorno azul */
  border-radius: 50%; /* Formato de círculo */
}

.address-card.selected::before {
  background-color: #3498db; /* Preenchendo a bolinha quando estiver selecionado */
}

.address-card {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-bottom: 20px; /* Aumentando o espaço abaixo */
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Ajustando a sombra */
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.address-card.selected {
  border: 2px solid var(--primary-color);
}

.address-card:hover {
  transform: translateY(-6px); /* Aumentando o efeito de hover */
}

.address-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-info {
  display: flex;
  align-items: center;
}

.map-thumbnail {
  margin-right: 15px; /* Aumentando o espaço à direita */
}

.map-thumbnail iframe {
  border-radius: var(--border-radius);
}

.address-details {
  flex: 1;
}

.address-details h3 {
  margin: 0;
  font-size: 1.3em; /* Aumentando o tamanho da fonte do título */
  color: #333;
  font-weight: 600; /* Aumentando o peso da fonte */
}

.address-details p {
  margin: 5px 0; /* Ajustando o espaçamento vertical */
  font-size: 1em; /* Ajustando o tamanho da fonte */
  color: #555; /* Suavizando a cor do texto */
}

.address-actions {
  display: flex;
  align-items: center;
}

.address-actions button {
  padding: var(--button-padding);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px; /* Aumentando o espaço à direita */
  font-size: 1em; /* Ajustando o tamanho da fonte */
  font-weight: 600; /* Aumentando o peso da fonte */
  transition: background-color 0.3s ease;
}

.address-actions button.primary {
  background-color: var(--primary-color);
  color: #fff;
}

.address-actions button.primary:hover {
  background-color: #f2dbda; /* Alterando a cor de hover */
}

.address-actions button.secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.address-actions button.secondary:hover {
  background-color: #f2dbda; /* Alterando a cor de hover */
}

.filters {
  display: flex;
  align-items: center; /* Alinhar os itens verticalmente */
  margin-bottom: 20px;
  border-radius: var(--border-radius); /* Borda arredondada */
  padding: 10px; /* Espaçamento interno */
  background-color: #fff; /* Fundo branco */
}

.filter-button {
  flex: 1; /* Ocupar espaço igualmente */
  padding: 10px 20px;
  border: none; /* Removendo a borda */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.filter-button.active {
  background-color: var(--primary-color);
  color: #fff;
}

.search-bar-container {
  display: flex;
  align-items: center; /* Alinhar os itens verticalmente */
  justify-content: space-between; /* Distribuir os itens igualmente horizontalmente */
  margin-bottom: 20px; /* Adicionando espaço abaixo */
}

.search-bar {
  width: 100%; /* Definir a largura da barra de pesquisa para 70% */
  padding: 14px;
  margin-right: 10px; /* Adicionando margem à direita */
  border: 1px solid var(--border-color);
  border-radius: 6px; /* Suavizando as bordas */
  font-size: 1.1em; /* Aumentando o tamanho da fonte */
  box-sizing: border-box;
}

.add-address-button {
  padding: 8px 20px; /* Ajustando o tamanho do botão */
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s ease;
  background-color: #4CAF50; /* Cor verde para o botão "Add Address" */
  color: white;
}

.add-address-button:hover {
  background-color: #45a049; /* Cor mais escura ao passar o mouse */
}


/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
  .address-list {
    padding: 20px; /* Ajustando o espaçamento interno */
  }

  .address-card {
    padding: 16px; /* Ajustando o padding */
  }

  .address-card:hover {
    transform: none;
  }

  .address-card-body {
    flex-direction: column;
  }

  .address-info {
    margin-bottom: 10px;
  }

  .address-details h3 {
    font-size: 1.1em; /* Ajustando o tamanho da fonte */
  }

  .address-details p {
    font-size: 0.9em; /* Ajustando o tamanho da fonte */
  }
}
