/* Estilos básicos */
.app-container {
  display: flex;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.address-list-container, .address-form-container {
  flex: 1;
  margin: 0 10px;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .address-list-container, .address-form-container {
    margin: 10px 0;
  }
}
